#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;
  text-align: center;
}

.homelogo img {
  width: 150px;
}

.homename * {
  margin-top: 5px;
}

.homename {
  margin-bottom: 2rem;
}

.buttonlinks {
  margin-top: 1rem;
}

.buttonlinks button {
  width: 160px;
  height: 60px;
  border-radius: 30px;
  margin: 0 0.5rem;
  font-size: large;
  transition: all 0.4s ease;
}


.buttonlinks button:nth-child(1) {
  border: 1px solid #A5C9CA; 
  background-color: #E7F6F2; 
  color: #2C3333; 
}

.buttonlinks button:nth-child(1):hover {
  background-color: #A5C9CA; 
  color: #E7F6F2; 
}


.buttonlinks button:nth-child(2) {
  border: 1px solid #395B64; 
  background-color: #395B64; 
  color: #E7F6F2; 
}

.buttonlinks button:nth-child(2):hover {
  background-color: #E7F6F2; 
  color: #395B64; 
}

.socialmedia {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.socialmedia img {
  width: 5vh;
}
